/* PRECIOS */

.mainPrecios {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
  padding: 2%;
}

.card1 {
  display: block;
  align-items: center;
  align-content: center;
}

.mainPrecios1 {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
  border: 2px solid black;
  background-color: #d9e7ff;
  padding: 1%;
  width: 40%;
}

.gird {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 3fr 1fr;
}
