// VARIABLES
$fontFamily: sans-serif;

// IMPORT
@import "./componentes/colores";
@import "./componentes/mixin";
@import "./componentes/operadores";
@import "./componentes/extend";
@import "./componentes/listas";
@import "./componentes/maps";
@import "./base/index";
@import "./base/plataforma";
@import "./base/botWspp";
@import "./base/porqueUpa";
@import "./base/precios";

/* GENERAL */

body {
  color: $bodycolor;
  background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
}

h1,
h2,
h3 {
  text-align: center;
  font-family: $fontFamily;
}

h1 {
  font-size: 300%;
}

h2::first-letter {
  font-size: 110%;
}

h3::first-letter {
  font-size: 110%;
}

p,
li {
  font-size: 120%;
  text-align: center;
  font-family: $fontFamily;
}

iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 60%;
  height: 60%;
  padding: 2%;
}

.btn-group1 {
  padding: 2%;
}

a {
  color: $letterColor;
  font-family: $fontFamily;
  &:hover {
    color: rgb(91, 72, 91);
  }
}

h3 a {
  color: $bodycolor;
}

header {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  div {
    display: flex;
    justify-content: left;
    align-items: left;
    align-content: left;
  }
  nav ul li {
    display: inline-block;
  }
}

nav ul a {
  color: $bodycolor;
  padding: 10px;
  font-size: 20 px;
  margin: 20 px;
  display: flex;
  flex-flow: wrap column;
  justify-content: space-around;
  align-content: center;
}

main div div div h2 a {
  color: $letterColor;
  background-image: linear-gradient(135deg, #f97794 10%, #623aa2 100%);
  padding: 10px;
  font-size: 20 px;
  border-radius: 30px;
  transition: all 2s;
}

div h2 a:hover {
  transform: scale(2);
}

img {
  border-radius: 10px 100px / 120px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#imgLogo {
  border-radius: 10px 100px / 120px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#imgSin {
  border-radius: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.img2 {
  border-radius: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* WSPP */

.wspp {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: $colorWspp;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 1px 1px 2px #888;
  z-index: 1000;
}

/* FOOTER */

footer {
  display: flex column;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
  color: $letterColor;
  padding: 1%;
  list-style: none;
  div ul li a {
    list-style: none;
  }
}

#footerWsp {
  background-color: $colorWspp;
  color: #fff;
  padding: 10px;
  font-size: 20 px;
  margin: 20 px;
  border-radius: 30px;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
  }

  .indexCenter {
    flex-direction: column;
  }

  .upaIndex {
    flex-direction: column;
  }

  .sectionMain {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .mainBlack__ {
    width: 100%;
  }

  .plataformaCenter {
    width: 100%;
  }

  .articleA {
    flex-direction: column;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .articleB {
    flex-direction: column;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .articleC {
    flex-direction: column;
    width: 100%;
  }

  .img2 {
    width: 500px;
    height: 350px;
  }

  img {
    width: 500px;
    height: 350px;
  }

  #imgLogo {
    width: 50px;
    height: 50px;
  }
}

@media only screen and (max-width: 576px) {
  header {
    flex-direction: column;
    align-items: center;
  }

  .indexCenter {
    flex-direction: column;
  }

  .upaIndex {
    flex-direction: column;
  }

  .sectionMain {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .mainBlack__ {
    width: 100%;
  }

  .plataformaCenter {
    width: 100%;
  }

  .articleA {
    flex-direction: column;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .articleB {
    flex-direction: column;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .articleC {
    flex-direction: column;
    width: 100%;
  }

  .img2 {
    width: 500px;
    height: 350px;
  }

  img {
    width: 500px;
    height: 350px;
  }

  #imgLogo {
    width: 50px;
    height: 50px;
  }
}
