/* PORQUE UPA? */

.articleC {
  @extend %flexCol;
  flex-direction: row-reverse;
  margin: 2%;
  padding: 0.3%;
}

.porqueCenter {
  @extend %flexCol;
  color: aliceblue;
  height: 3000%;
  max-height: 500%;
  padding-bottom: 30%;
  background-image: url(https://images3.alphacoders.com/585/thumb-1920-585616.png);
}
