$c-principal: pink;
$c-secundario: black;
$colorWspp: #25d366;
$bodycolor: rgb(9, 6, 49);
$letterColor: aliceblue;

.ula {
  background-color: darken($c-principal, 20%);
  &:hover {
    background-color: lighten($c-secundario, 20%);
  }
}

.ula2 {
  background-color: mix($c-principal, $c-secundario, 0.7);
}
