@mixin pieDePag {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clasePrueba {
  @include pieDePag();
}

@mixin titulos($size, $color) {
  font-size: $size;
  //   padding: $size / 2;
  margin: $size * 4;
  background-color: $color;
  color: aliceblue;
}

.claseImaginaria {
  @include titulos(20px, black);
}
